mkmf.log
nohup.out
dump.rdb
*.bundle
*.so
*.o
*.a
*.sql
.*.sw*
*~
*.bak
*.log
*.tar.bz2
*.gz
*.zip
*.gem
*.pid
.svn
.project
.pydevproject
*.sassc
.sass-cache
.idea
*.pid
.ruby-version
.ruby-gemset

/coverage/
/doc/
/pkg/
/spec/reports/
/test/fe_fixtures
/test/*.yml
/tmp/
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.yml
/db/sphinx
/db/seed.rb
/.settings/
/.bundle/
/.yardoc/
/_yardoc/
/log
/nbproject/
/sandi_meter
